<div class="container">
  <!-- Show message when there is nothing in the list -->
  <div *ngIf="items.length ===0; else showItems">
    <p>There is no element in list</p>
  </div>
  <!--  Load components when there are items in the list  -->
  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <input 
          type="checkbox" 
          class="form-check-input" 
          [checked]="item.isCompleted"
          id="list-input">
          <label for="list-input">{{item.wishText}}</label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>